//1287C19 Modal  
#1287C19Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            // Project Details Go Here
            h2 Brando
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/1287C19/1287C19_'+n+++'.jpg">'
            //- img.img-responsive.img-centered(src="images/productimgs/1287C19/1.jpg", alt="")
            //- img.img-responsive.img-centered(src="images/productimgs/1287C19/2.jpg", alt="")
            //- img.img-responsive.img-centered(src="images/productimgs/1287C19/3.jpg", alt="")
            //- p
            //-   | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
            //- p
            //-   strong Want these icons in this portfolio item sample?
            //-   | You can download 60 of them for free, courtesy of
            //-   a(href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc") RoundIcons.com
            //-   | , or you can purchase the 1500 icon set
            //-   a(href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc") here
            //-   | .
            //- ul.list-inline
            //-   li Date: July 2014
            //-   li Client: Round Icons
            //-   li Category: Graphic Design
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.33.ZWMvsS&id=529753524869", target="_blank")
              i.fa.fa-shopping-cart
              |  购买链接

//3016A3 Modal              
#3016A3Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Cage
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/3016A3/3016A3_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.48.ZWMvsS&id=529554816622", target="_blank")
              i.fa.fa-shopping-cart
              |  购买链接

//5156C19 Modal  
#5156C19Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            // Project Details Go Here
            h2 Pacino
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/5156C19/5156C19_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.48.ZWMvsS&id=529554816622", target="_blank")
              i.fa.fa-shopping-cart
              |  购买链接

//- //5213黑 Modal  
//- #5213黑Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
//-   .modal-content
//-     .close-modal(data-dismiss="modal")
//-       .lr
//-         .rl
//-     .container
//-       .row
//-         .col-lg-8.col-lg-offset-2
//-           .modal-body
//-             h2 Jolie
//-             - var n = 1
//-             ul
//-               while n < 14
//-                 li!='<img  src="images/productimgs/5213黑/5213_'+n+++'.jpg">'
//-             a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.48.ZWMvsS&id=529554816622", target="_blank")
//-               i.fa.fa-shopping-cart
//-               |  购买链接

//- //5220白 Modal  
//- #5220白Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
//-   .modal-content
//-     .close-modal(data-dismiss="modal")
//-       .lr
//-         .rl
//-     .container
//-       .row
//-         .col-lg-8.col-lg-offset-2
//-           .modal-body
//-             h2 Scarlett
//-             - var n = 1
//-             ul
//-               while n < 14
//-                 li!='<img  src="images/productimgs/5220白/5213_'+n+++'.jpg">'
//-             a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.48.ZWMvsS&id=529554816622", target="_blank")

//- //5221花 Modal  
//- #5221花Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
//-   .modal-content
//-     .close-modal(data-dismiss="modal")
//-       .lr
//-         .rl
//-     .container
//-       .row
//-         .col-lg-8.col-lg-offset-2
//-           .modal-body
//-             h2 Lawrence
//-             - var n = 1
//-             ul
//-               while n < 14
//-                 li!='<img  src="images/productimgs/5221花/5221_'+n+++'.jpg">'
//-             a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.48.ZWMvsS&id=529554816622", target="_blank")

//5221金 Modal  
#5221Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Lawrence
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/5221金/5221_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.24.ZWMvsS&id=530164615350", target="_blank")    

//5225 Modal  
#5225Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Alba
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/5225/5225_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.27.KgCE9q&id=529149118272", target="_blank")                          

//5353C19 Modal  
#5353C19Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Spacey
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/5353C19/5353C19_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.45.KgCE9q&id=529668846336", target="_blank")

//73578A5 Modal  
#73578A5Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Downey
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/73578A5/73578A5_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.45.KgCE9q&id=529668846336", target="_blank")

//73758A16 Modal  
#73758A16Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Downey
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/73758A16/73758A16_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.21.KgCE9q&id=530264240393", target="_blank")      

//SPR09A11 Modal  
#SPR09A11Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Ledger
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/SPR09A11/SPR09A11_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.39.KgCE9q&id=529721414502", target="_blank")   

//SPR09C10 Modal  
#SPR09C10Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Ledger
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/SPR09C10/SPR09C10_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.42.KgCE9q&id=529674499452", target="_blank")         

//SPR09C9414 Modal  
#SPR09C94Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 Ledger
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/SPR09C94/SPR09C94_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.36.KgCE9q&id=529730286609", target="_blank") 

//SPR096C10 Modal  
#SPR096C10Modal.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            h2 DiCaprio
            - var n = 1
            ul
              while n < 14
                li!='<img  src="images/productimgs/SPR096C10/SPR096C10_'+n+++'.jpg">'
            a.btn.btn-primary(href="https://item.taobao.com/item.htm?spm=a1z10.3-c.w4002-13827413326.51.KgCE9q&id=529511323714", target="_blank")                           